html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'sora', serif;
  background: #fff;
  color: #000;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

/* top navigation */
header {
  background: #3e3c3c;
}

.top-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background: #3e3c3c;
  color: #fff;
}

.top-navigation ul {
  list-style: none;
  display: flex;
  text-transform: capitalize;
  /* font-family: 'Inter'; */
  font-style: normal;
  line-height: 20px;
}

.top-navigation li {
  padding: 4px;
  flex: 1;
  font-weight: 600;
  font-size: 15px;
}

.top-navigation .name {
  flex: 9;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.top-navigation .name i {
  margin-right: 0;
  margin-left: auto;
}

.mobile-menu {
  display: none;
}

.desktop-menu {
  display: block;
}

/* headline section */
.headline-section {
  background: #1c1a19;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.headline-section .illustration-header {
  background-image: url("img/Illustration-header@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: right; */
  position: absolute;
  width: 810.13px;
  height: 1001.27px;
  left: 1244.68px;
  top: 187px;
  transform: matrix(0.96, -0.27, 0.27, 0.96, 0, 0);
}

.headline-section .social-icons {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  color: #CFCFCF;
}

.headline-section .social-icons i {
  margin: 10px 10px;
}

.headline-section .blank {
  flex-basis: 50%;
}

.headline-section .headline {
  margin: 20px 10px;
}

.headline-section .primary-text {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
}

.headline-section .support-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 0;
  color: #FFFFFF;
}

.headline-section .description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 10px 0;
  color: #F4F5F7;
}

@media all and (max-width: 1000px) {
  /* top navigation */
  .top-navigation ul {
    flex-wrap: wrap;
  }

  .top-navigation .name {
    flex-basis: 100%;
  }

  .top-navigation li {
    flex: 1 1 50%;
  }

  /* headline section */
  .headline-section .blank {
    flex-basis: 0%;
  }

  .headline-section .illustration-header {
      left: 442.68px;
      top: 253px;
  }
}

@media all and (max-width: 500px) {
  /* top navigation */
  .top-navigation {
    position: relative;
  }

  .top-navigation ul {
    flex-direction: column;
    padding: 0;
  }

  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

  /* headline section */
  .headline-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .headline-section .illustration-header {
      left: 131.68px;
      top: 265px;
  }

  .headline-section .primary-text {
    font-size: 62px;
  }

  .headline-section .social-icons {
    order: 2;
    flex-direction: row;
  }
}